.about-container {
    margin-top: 20vh;
    margin: 0;
}

.terminal {
    display: flex;
    flex-direction: column;
}

.terminal-header {
    background-color: #454545;
    height: 28px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-button {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 9px;
}

.header-button.red {
    background-color: red;
}

.header-button.yellow {
    background-color: yellow;
}

.header-button.green {
    background-color: green;
}

.terminal-window {
    background-color: #2a2a2a;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
        0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
}

.about-list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.about-item-input {
    color: rgba(246, 249, 252, 0.9);
    font-family: Monaco, Consolas, Lucida Console, monospace;
    font-size: 1.5em;
}

.about-item-input::before {
    content: "> ";
}

.about-item-input > span {
    background-color: #f7f7f7;
}

.about-item-return {
    color: #DB7093;
    font-size: 1.2em;
}

.about-item-return > a {
    color: #35feff;
}