.intro-title {
  font-family: Monaco, Consolas, Lucida Console, monospace;
  font-size: 4.5em;
  color: #db7093;
}

.intro-title::before {
  content: "> ";
}

span {
  background-color: #db7093;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    background-color: transparent;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 20vh;
}

.description {
  font-weight: 200;
  font-size: 1.3em;
  line-height: 40px;
  margin: 80px 0;
}

.description a {
  color: #db7093;
  cursor: pointer;
  font-weight: bold;
}

.description a:hover {
  color: rgba(219, 112, 147, 0.7);
}

@media screen and (max-width: 1000px) {
  .introduction {
    margin-top: 15vh;
  }

  .intro-title {
    font-size: 3em;
  }

  .description {
    font-size: 1.2em;
    line-height: 30px;
    max-width: 100%;
    margin: 50px 0;
  }
}
